/* General styling*/
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px 20px;
  color: white;
  height: 60px;
}

.navbar-right {
  display: flex;
  font-size: 24px;
}

.icon-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.icon-button:hover {
  color: gray;
}

.navbar-left h1 {
  margin: 0;
  font-size: 24px;
}

/* Layout for sidebar and content */
.content-container {
  display: flex;
  flex: 1;
}

/* Sidebar styling*/
.sidebar {
  width: 200px;
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 24px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar nav ul li svg {
  margin-right: 10px;
}

.sidebar nav ul li:hover {
  text-decoration: underline;
}

/* Search bar styling */
.search-bar {
  display: flex;
  align-items: center;
  background-color: grey;
  border-radius: 5px;
  padding: 5px 10px;
  width: 400px;
}

.search-icon {
  font-size: 20px;
  color: black;
  margin-right: 8px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: grey;
  width: 100%;
}

.search-input::placeholder {
  color:black;
}

/* Content area*/
.content{
  padding: 20px;
  flex-grow: 1;
  background-color: #f0f0f0;
}

/* Styling for the main content page */
.main-content h1 {
  font-size: 36px;
}

/* Styling for the settings page */
.settings-page {
  padding: 40px;
  background-color:#f0f0f0;
  flex-grow: 1;
  margin-left: 300px;
  margin-right: 300px;
}

.settings-page h1 {
  font-size: 36px;
}

.settings-page h2 {
  font-size: 24px;
}

.settings-page ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.settings-page hr {
  width: 100%;
  border: 2px solid #333;
  margin-bottom: 20px;
} 

/* Styling for API Keys */
.api-keys-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.api-keys-table th, .api-keys-table td {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: left;
}

.api-keys-table th {
  background-color: #5f5f5f;
  color: white;
}

.api-keys-table th:first-child {
  border-top-left-radius: 10px;
}

.api-keys-table th:last-child {
  border-top-right-radius: 10px;
}

.api-keys-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.api-keys-table td:last-child {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.api-keys-table td:last-child button svg {
  margin-right: 20px;
  font-size: 18px;
}

.api-keys-table tr:hover {
  background-color: #e1e1e1;
}

.add-api-button {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.add-api-button:hover {
  background-color: #333;
  color: white;
}

.configure-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:#333;
  margin-left: 10px;
}

.trash-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:#333;
  margin-left: 10px; 
}

/* Styling for Stocks */
.stocks-content h1 {
  font-size: 36px;
}

.stocks-content hr {
  width: 100%;
  border: 2px solid #333;
  margin-bottom: 20px;
}

.stocks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.stocks-table th, .stocks-table td {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: left;
}

.stocks-table th {
  background-color: #5f5f5f;
  color: white;
  position: relative; 
  cursor: pointer; 
  padding-right: 25px; 
  user-select: none;
}

.stocks-table th:first-child {
  border-top-left-radius: 10px;
  text-align: left;
}

.stocks-table th:not(:first-child), .stocks-table td:not(:first-child) {
  text-align: right;
}

.stocks-table th:last-child {
  border-top-right-radius: 10px;
}

.stocks-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.stocks-table tr:hover {
  background-color: #e1e1e1;
}

.stocks-table th.sortable::after {
  content: '';
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent; 
  transition: border-color 0.3s; 
}

.stocks-table th.sortable.asc::after {
  border-bottom: 5px solid #fff; 
}

.stocks-table th.sortable.desc::after {
  border-top: 5px solid #fff; 
}

.stocks-table th:hover::after {
  border-bottom-color: gray; 
  border-top-color: gray; 
}

/* Styling for the jobs table */
.jobs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.jobs-page hr {
  width: 100%;
  border: 2px solid #333;
  margin-bottom: 20px;
}

.jobs-table th, .jobs-table td {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.jobs-table th {
  background-color: #5f5f5f;
  color: white;
  position: relative;
  cursor: pointer;
  padding-right: 25px;
  user-select: none;
}

.jobs-table th:first-child {
  border-top-left-radius: 10px;
}

.jobs-table th:last-child {
  border-top-right-radius: 10px;
}

.jobs-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.jobs-table tr:hover {
  background-color: #e1e1e1;
}

.jobs-table th.sortable::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: border-color 0.3s;
}

.jobs-table th.sortable.asc::after {
  border-bottom: 5px solid #fff;
}

.jobs-table th.sortable.desc::after {
  border-top: 5px solid #fff;
}

.jobs-table th:hover::after {
  border-bottom-color: gray;
  border-top-color: gray;
}

.add-job-button {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.delete-job-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:#333;
  margin-left: 10px; 
}

.job-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.refresh-button {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}