/* Inits */

:root[data-theme="light"] {
  --text: #141a19;
  --background: #f4f6f6;
  --primary: #3d4d4b;
  --secondary: #ada4b7;
  --accent: #886c89;
}
:root[data-theme="dark"] {
  --text: #e4eae9;
  --background: #080a0a;
  --primary: #b1c2c0;
  --secondary: #52485c;
  --accent: #927593;
}
:root[data-theme="old"] {
  --color-background: #f0f0f0;
}

:root{
  --color-table-header-bg: #5f5f5f;
  --color-table-header-text: white;
  --color-table-hover-bg: #e1e1e1;
  --color-sidebar-bg: #080a0a;
  --color-border: #ddd;
  --color-text: #e4eae9;
  --color-nav-button: white;
  --color-nav-button-hover: grey;
  --color-content-bg: #080a0a;
  --color-disabled: #aaa;
}

/* General styling  var(--color-content-bg)*/
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

/* Header Styling */
h1 {
  margin: 0;
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

hr {
  width: 100%;
  border: 2px solid var(--color-text);
  margin-bottom: 20px;
}

/* Table styling */
td {
  border: .5px solid var(--color-border);
  padding: 10px;
  text-align: left;
}

th {
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--color-table-header-bg);
  color: var(--color-table-header-text);
  position: relative; 
  cursor: pointer; 
  padding-right: 25px; 
  user-select: none;
}

tr:hover {
  background-color: var(--color-table-hover-bg);
}

th.sortable.asc::after {
  border-bottom: 5px solid var(--color-border); 
}

th.sortable.desc::after {
  border-top: 5px solid var(--color-border); 
}

th:hover::after {
  border-bottom-color: var(--color-border); 
  border-top-color: var(--color-border); 
}

th.sortable::after {
  content: '';
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent; 
  transition: border-color 0.3s; 
}

th:first-child {
  border-top-left-radius: 10px;
  text-align: left;
}

th:last-child {
  border-top-right-radius: 10px;
}

/* Layout for sidebar and content */
.content-container {
  display: flex;
  flex: 1;
}

/* Sidebar styling*/
.sidebar {
  width: 200px;
  background-color: var(--color-sidebar-bg);
  color: var(--color-text);
  padding: 20px;
  font-size: 24px;
  border: thin solid var(--color-border);
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar nav ul li svg {
  margin-right: 10px;
}

.sidebar nav ul li:hover {
  text-decoration: underline;
}

/* Content area*/
.content{
  padding: 20px;
  flex-grow: 1;
  background-color: var(--color-content-bg);
  color: var(--color-text);
}

/* Styling for the settings page */
.settings-page {
  padding: 40px;
  background-color:var(--color-content-bg);
  flex-grow: 1;
  margin-left: 300px;
  margin-right: 300px;
}

.settings-page ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.settings-page hr {
  width: 100%;
  border: 2px solid var(--color-border);
  margin-bottom: 20px;
} 

/* Styling for API Keys */
.api-keys-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.api-keys-table td:last-child {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.api-keys-table td:last-child button svg {
  margin-right: 20px;
  font-size: 18px;
}

.add-api-button {
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  color: var(--color-text);
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.add-api-button:hover {
  background-color: var(--color-text);
  color: var(--color-content-bg);
}

.configure-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:var(--color-text);
  margin-left: 10px;
}

.trash-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:var(--color-text);
  margin-left: 10px; 
}

/* Styling for Stocks */
.stocks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.stocks-table th:not(:first-child), .stocks-table td:not(:first-child) {
  text-align: right;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-info {
  margin: 15 15px;
}

.pagination-button-prev,
.pagination-button-next {
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  color: var(--color-text);
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pagination-button-prev:hover,
.pagination-button-next:hover {
    background-color: var(--color-text);
    color: var(--color-content-bg);
}

.pagination-button-prev:disabled,
.pagination-button-next:disabled {
    color: var(--color-disabled); 
    border-color: var(--color-border);
    cursor: not-allowed; 
    pointer-events: none; 
}

/* Styling for the jobs table */
.jobs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.add-job-button {
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  color: var(--color-text);
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.delete-job-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:var(--color-text);
  margin-left: 10px; 
}

.job-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.refresh-button {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  color: var(--color-text);
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}