.modal-backdrop-fetch {
    position: fixed;
    width: 30%;
    height: 40%;
    color: #ccc;
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 30%;
    left: 40%;
    border-radius: 20px;
}

.radio-group {
    padding-bottom: 10px;
}

.date-picker-container {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.date-picker-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.date-picker-field label {
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.date-picker-field input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.date-picker-container {
    padding-bottom: 10px;
}

.modal-actions button {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.modal-actions button:first-child {
    margin-right: 5px;
    background-color: #6c6d6d;
    color: white;
}

.modal-actions button:first-child:hover {
    background-color: #444444;
    border-color:#fff;
    border-width: 1px;
    border-style: solid;
}

.modal-actions button:last-child:hover {
    background-color: #444444;
    border-color:#fff;
    border-width: 1px;
    border-style: solid;
}

.modal-actions button:last-child {
    background-color: #6c6d6d;
    color: white;
}



