:root {
    --color-nav-background:black;
    --color-nav-text:white;
    --color-nav-button: white;
    --color-nav-button-hover: grey;
}

/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-nav-background);
    padding: 10px 20px;
    color: var(--color-nav-text);
    height: 60px;
}
  
.navbar-right {
    display: flex;
    font-size: 24px;
}

.icon-button {
    background: none;
    border: none;
    color: var(--color-nav-button);
    font-size: 24px;
    cursor: pointer;
}
  
.icon-button:hover {
    color: var(--color-nav-button-hover);
}

.search-input {
    position: absolute;
    border-radius: 4px;
    background: rgb(116, 116, 116);
    font-size: 18px;
    color: var(--color-nav-text);
    width: 390px;
    padding: 2px 5px;            
    margin: 0;
    left: 40%;
    line-height: 1;
    display: block;
    text-transform: uppercase;
}

.suggestions-list {
    position: absolute;
    background: rgb(116, 116, 116);
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 400px;
    z-index: 1000;
    list-style-type: none; 
    padding: 0;            
    margin: 8px;  
    margin-left: 2px;
    left: 40%;           
}

::placeholder {
    font-style: italic;
    padding: 2px 5px;
    color: rgb(78, 78, 78);
    display: block;
    text-transform: none;
}

.search-icon {
    font-size: 20px;
}

.suggestions-list.show {
    opacity: 1; 
    visibility: visible; 
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #7a7a7a;
}
